.shop__container {
    height: 100vh;
    padding: 10px;
}

.shop__title {
    text-align: center;
}

.shop__itemContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 10px;
    background-color: var(--itemContainer-bg);
}

.shop__cartDisplay {
    background-color: var(--shop-cart-bg);
    height: 200px;
    width: 200px;
    position: absolute;
    overflow: auto;
    padding: 10px;
}

.shop__cartDisplay--title {
    background-color: var(--shop-cart-bg);
    color: var(--shop-cart-text);
    text-align: center
}