* {
    box-sizing: border-box;
}
html body {
    background-color: var(--main-bg-color);
}
:root {
    --color1: #472d30;
    --color2: #c9cba3;
    --color3:  #ffe1a8;
    --color4: #e26d5c;
    --color5: #723d46;

    --main-bg-color: var(--color2);
    --button-bg-color: var(--color1);
    --button-text-color: white;
    --shop-cart-bg: var(--color4);
    --shop-cart-text: white;
    --itemContainer-bg: var(--color3);
    --h1-color: var(--color5);
    --header-listItem-bg: var(--color1);
    --header-listItem-color: var(--color2);
}

h1 {
    color: var(--h1-color)
}

button {
    padding: 10px;
    background-color: var(--button-bg-color);
    border-radius: 10px;
    color: var(--button-text-color);
    cursor: pointer;
}

